<%- include('../adincludes/header') %>
<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Order Management.</h2>
      <p>Manage Orders</p>
    </div>
  </div>
  <div class="card mb-4">
    <header class="card-header">
      <div class="row gx-3">
        <!-- <div class="col-lg-4 col-md-6 me-auto">
          <input type="text" placeholder="Search..." class="form-control" />
        </div>
        <div class="col-lg-2 col-6 col-md-3">
          <select class="form-select">
            <option>Status</option>
            <option>Active</option>
            <option>Disabled</option>
            <option>Show all</option>
          </select>
        </div> -->
      </div>
    </header>
    <div class="card-body">
      <div class="table-responsive">
        <table id="myTable" class="table table-hover display">
          <thead>
            <tr>
              <th>#ID</th>
              <th scope="col">Name</th>
              <th scope="col">Amount</th>
              <th scope="col">Payment Method</th>
              <th scope="col">Status</th>
              <th scope="col">Date</th>
              <th scope="col" class="text-end">Action</th>
            </tr>
          </thead>
          <tbody>
            <% orders.forEach(function(order) { %>
            <tr>
              <td><%= order._id %></td>
              <td><b><%= order.address.full_name %></b></td>
              <td>&#x20B9;<%= order.total_amount %></td>
              <td><%= order.payment_method %></td>
              <td>
                <% if (order.order_status === "Placed") { %>
                <span class="badge rounded-pill bg-primary">
                  <%= order.order_status %>
                </span>
                <% } else if (order.order_status === "Shipped") { %>
                <span class="badge rounded-pill bg-success">
                  <%= order.order_status %>
                </span>
                <% } else if (order.order_status === "Delivered") { %>
                <span class="badge rounded-pill bg-info">
                  <%= order.order_status %>
                </span>
                <% } else if (order.order_status === "Cancelled") { %>
                <span class="badge rounded-pill bg-danger">
                  <%= order.order_status %>
                </span>
                <% } else if (order.order_status === "Returned" && (
                order.return_status === "pending"|| order.return_status ===
                "approved"|| order.return_status === "rejected")) { %>
                <span class="badge rounded-pill bg-warning">
                  Return <%=order.return_status %>
                </span>
                <% } %>
              </td>
              <td>
                <%= new Date(order.order_date).toLocaleString('en-US', {
                dateStyle: 'short', timeStyle: 'short' }) %>
              </td>
              <td class="text-end">
                <a
                  href="/admin/view-order/<%= order._id %>"
                  class="btn btn-md rounded font-sm"
                  >View Order</a
                >
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- content-main end// -->

<%- include('../adincludes/footer') %>
