<%- include('../adincludes/header') %>
<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Products List.</h2>
      <p>View Products, Edit and Delete</p>
    </div>
    <div>
      <a href="/admin/add-products" class="btn btn-primary btn-sm rounded"
        >Add</a
      >
    </div>
  </div>
  <div class="card mb-4">
    <header class="card-header">
      <div class="row align-items-center">
        
        <div class="col-md-2 col-6">
          <input type="date" value="01.01.2023" class="form-control" />
        </div>
        
        
      </div>
    </header>
    <div class="card-body">
      <table id="myTable" class="table table-hover display">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col" class="text-end">Action</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach(product => { %>
            <tr>
              <td>
                <div class="left">
                  <img
                    src="<%= product.productImage[0] %>"
                    class="img-sm"
                    alt="product Image"
                  />
                </div>
              </td>
              <td>
                <div class="info">
                  <h6 class="mb-0"><%= product.productName %></h6>
                </div>
              </td>
              <td>
                <span><%= product.productDescription.slice(0,50) %>...</span>
              </td>
              <td>
                <div class="col-price">
                  <span>&#x20B9;<%= product.productPrice %></span>
                </div>
              </td>
              <% if (product.productStatus === 'Listed') { %>
                <td>
                  <div class="col-status">
                    <span class="badge rounded-pill alert-success"><%= product.productStatus %></span>
                  </div>
                </td>
              <% } else { %>
                <td>
                  <div class="col-status">
                    <span class="badge rounded-pill alert-danger"><%= product.productStatus %></span>
                  </div>
                </td>
              <% } %>
              <td>
                <div class="col-dropdown text-end">
                  <a href="/admin/edit-product/<%= product._id %>" class="btn btn-md rounded font-sm">Edit</a>
                  <% if (product.productStatus === 'Listed') { %>
                    <a href="" class="btn btn-danger font-sm mt-2" onclick="unlistProduct('<%= product._id %>');event.preventDefault();">Unlist</a>
                  <% } %>
                </div>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
</section>
<!-- content-main end// -->
<%- include('../adincludes/footer') %>
