<%- include('../adincludes/header') %>

<main>
  <section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Users.</h2>
        <p>User Management.</p>
      </div>
      <div></div>
    </div>
    <div class="card mb-4">
      <header class="card-header">
        <div class="row gx-3">
          <div class="col-lg-2 col-6 col-md-3">
            <select
              class="form-select"
              name="status"
              onchange="handleChange(event)"
            >
              <option value="status">Status</option>
              <option value="active">Active</option>
              <option value="inactive">Inactive</option>
            </select>
          </div>
        </div>
      </header>
      <!-- card-header end// -->
      <div class="card-body">
        <div class="table-responsive">
          <table id="myTable" class="table table-hover">
            <thead>
              <tr>
                <th>No</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile No.</th>
                <th scope="col">Status</th>
                <th scope="col" class="text-end">Action</th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach(function(user, index) { %>
              <tr>
                <!-- <td><%= user._id %></td> -->

                <td><%= index+1 %></td>

                <td><b><%= user.username %></b></td>
                <td><%= user.email %></td>
                <%#--
                <td>
                  <template class="__cf_email__" data-cfemail="..."></template>
                </td>
                --%>
                <td><%= user.mobnumber %></td>
                <% if (user.status) { %>
                <td>
                  <span class="badge rounded-pill alert-success">Active</span>
                </td>
                <td class="text-end">
                  <a
                    href=""
                    class="btn btn-md rounded font-sm"
                    onclick="BlockUser('<%= user._id %>'); event.preventDefault();"
                    >Block</a
                  >

                  <%#--
                  <div class="dropdown">
                    <a
                      href="#"
                      data-bs-toggle="dropdown"
                      class="btn btn-light rounded btn-sm font-sm"
                    >
                      <i class="material-icons md-more_horiz"></i>
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">View detail</a>
                      <a class="dropdown-item" href="#">Edit info</a>
                      <a class="dropdown-item text-danger" href="#">Delete</a>
                    </div>
                  </div>
                  --%>
                </td>
                <% } else { %>
                <td>
                  <span class="badge rounded-pill alert-danger"
                    >Not Active</span
                  >
                </td>
                <td class="text-end">
                  <a
                  onclick="unBlockUser('<%= user._id %>'); event.preventDefault();"
                  class="btn btn-md rounded font-sm"
                    >Unblock</a
                  >
                  <%#--
                  <div class="dropdown">
                    <a
                      href="#"
                      data-bs-toggle="dropdown"
                      class="btn btn-light rounded btn-sm font-sm"
                    >
                      <i class="material-icons md-more_horiz"></i>
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">View detail</a>
                      <a class="dropdown-item" href="#">Edit info</a>
                      <a class="dropdown-item text-danger" href="#">Delete</a>
                    </div>
                  </div>
                  --%>
                </td>
                <% } %>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        <!-- table-responsive //end -->
      </div>
      <!-- card-body end// -->
    </div>
    <!-- card end// -->
  </section>
</main>
<%- include('../adincludes/footer') %>
