
<%- include('includes/header') -%> <%- include('includes/user-header') -%>

<section>
    <main class="main">
      <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
          <h1 class="page-title">All Coupons.</h1>
        </div><!-- End .container -->
      </div><!-- End .page-header -->
      <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/checkout">checkout</a></li>
            <li class="breadcrumb-item active" aria-current="page">Coupons</li>
          </ol>
        </div><!-- End .container -->
      </nav><!-- End .breadcrumb-nav -->
  
      <div class="page-content">
        <div class="dashboard">
          <div class="container">
            <div class="header-left">
              <div class="row">
                <% coupons.forEach(function(element) { %>
                <div class="col-lg-4 mb-4">
                  <div class="card h-100 card-dashboard" style="background-color:rgb(242, 244, 237);">
                    <div class="address-section">
                      <div class="existing-address">
                        <h5 class="card-title text-center"><%=element?.days_remaining <= 0 ?"Expired":element?.code%></h5>
                        <p class="card-text text-center">Discount: <%=element?.discount %>%<br>
                        Max Discount: &#x20B9;<%=element?.maxdiscount %><br>
                        Expiry Date: <%= new Date(element.expirationDate).toLocaleString('en-IN', { dateStyle: 'short'}).split('T')[0]%><br>
                          
                      </div>
                    </div>
                    <div class="card-footer">
                      <span  style="color: <%=element?.days_remaining > 0 ? 'green' : 'red'%> ">
                        <%= element?.days_remaining <= 0 ? 'Expired': element?.days_remaining + 'd left' %>
                      </div>
                  </div>
                </div>
                <% }); %>
              </div>
            </div>
          </div>
        </div><!-- End .container -->
      </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
    </main><!-- End .main -->
  </section>
  
<%- include('includes/footerpartial') -%>
