<%- include('includes/header') -%> <%- include('includes/user-header') -%>
<section>
  <main class="main">
    <div
      class="page-header text-center"
      style="background-image: url('assets/images/page-header-bg.jpg')"
    >
      <div class="container">
        <h1 class="page-title">User Profile</h1>
      </div>
      <!-- End .container -->
    </div>
    <!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">My Account</li>
        </ol>
      </div>
      <!-- End .container -->
    </nav>
    <!-- End .breadcrumb-nav -->

    <div class="page-content">
      <div class="dashboard">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-lg-9">
              <div class="tab-content">
                <div
                  class="tab-pane fade show active"
                  id="tab-account"
                  role="tabpanel"
                  aria-labelledby="tab-account-link"
                >
                  <form action="" method="post">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="name"><b>Name</b></label>
                          <input
                            type="text"
                            class="form-control"
                            id="name"
                            value="<%=user?.username%>"
                          />
                        </div>
                        <!-- End .form-group -->
                      </div>
                      <!-- End .col-sm-6 -->
                    </div>
                    <!-- End .row -->

                    <div class="form-group">
                      <label for="display-name"><b>Display Name*</b></label>
                      <input
                        type="text"
                        class="form-control"
                        id="display-name"
                        value="<%=user?.username%>"
                        name="updateName"
                        required
                      />
                      <small class="form-text"
                        >This will be displayed as your Username</small
                      >
                    </div>
                    <!-- End .form-group -->

                    <div class="form-group">
                      <label for="gender"><b>Gender</b></label>
                      <div class="custom-control custom-radio">
                        <input
                          id="male"
                          value="male"
                          name="gender"
                          type="radio"
                          class="custom-control-input"
                        />
                        <label class="custom-control-label" for="male"
                          >Male</label
                        >
                      </div>
                      <!-- End .custom-control -->
                      <div class="custom-control custom-radio">
                        <input
                          id="female"
                          value="female"
                          name="gender"
                          type="radio"
                          class="custom-control-input"
                        />
                        <label class="custom-control-label" for="female"
                          >Female</label
                        >
                      </div>
                      <!-- End .custom-control -->
                    </div>
                    <!-- End .form-group -->

                    <div class="form-group">
                      <label for="email"><b>Email address*</b></label>
                      <input
                        type="email"
                        class="form-control"
                        id="email"
                        value="<%=user.email%>"
                        name="updateEmail"
                        required
                      />
                    </div>
                    <!-- End .form-group -->

                    <div class="form-group">
                      <label for="phone-number"><b>Phone Number*</b></label>
                      <input
                        type="phone-number"
                        class="form-control"
                        id="phone-number"
                        value="<%=user.mobnumber%>"
                        <div
                        class="col-md-6"
                      />
                    </div>
                    <!-- End .col-md-6 -->

                    <button type="submit" class="btn btn-outline-primary-2">
                      <span>SAVE CHANGES</span>
                      <i class="icon-long-arrow-right"></i>
                    </button>
                    <label
                      id="submit-error"
                      class="errorLabel text-danger"
                      for="registerPassword"
                    ></label>
                    <!-- {{#if pwdErr}}
                    <label class="errorLabel text-danger"
                      >Enter Correct Password</label
                    >
                    {{/if}}

                    {{#if updated}}
                    <label class="errorLabel text-success"
                      >Updated Successfully!</label
                    >
                    {{/if}} -->
                  </form>
                </div>
                <!-- End .tab-pane -->
              </div>
              <!-- End .tab-content -->
            </div>
            <!-- End .col-md-8 col-lg-9 -->

            <aside class="sidebar col-md-4 col-lg-3">
              <div class="widget widget-dashboard">
                <h3 class="widget-title">My Account</h3>

                <ul class="list">
                  <li class="active">
                    <a href="/edit-profile" data-toggle="tab"
                      >Account Dashboard</a
                    >
                  </li>
                  <li><a href="/orders" data-toggle="tab">My Orders</a></li>
                  <li>
                    <a
                      class="collapsed"
                      role="button"
                      data-toggle="collapse"
                      href=""
                      aria-expanded="false"
                      aria-controls="collapse-2"
                      onclick="changePassword('<%=user._id %>');event.preventDefault();"
                    >
                      Change Password
                    </a>
                  </li>

                  <li><a href="/logout">Logout</a></li>
                </ul>
              </div>
              <!-- End .widget -->
            </aside>
            <!-- End .col-md-4 col-lg-3 -->
          </div>
          <!-- End .row -->
        </div>
        <!-- End .container -->
      </div>
      <!-- End .dashboard -->
    </div>
    <!-- End .page-content -->
  </main>
  <!-- End .main -->
</section>
<!-- End .section -->
<script>
  function changePassword(id) {
    Swal.fire({
      title: "Change Password",
      html:
        '<input type="password" id="currentPassword" class="swal2-input " placeholder="Current Password" required>' +
        '<input type="password" id="newPassword" class="swal2-input " placeholder="New Password" required>' +
        '<input type="password" id="confirmPassword" class="swal2-input " placeholder="Confirm Password" required>',

      focusConfirm: false,
      preConfirm: () => {
        const currentPassword =
          document.getElementById("currentPassword").value;
        const newPassword = document.getElementById("newPassword").value;
        const confirmPassword =
          document.getElementById("confirmPassword").value;

        // Perform validation on the inputs
        if (!currentPassword || !newPassword || !confirmPassword) {
          Swal.showValidationMessage("All fields are required");
          return false;
        }

        if (newPassword !== confirmPassword) {
          Swal.showValidationMessage(
            "New Password and Confirm Password do not match"
          );
          return false;
        }

        // Make a POST request to the backend API to change the password
        return fetch("/edit-password", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            id: id,
            currentPassword: currentPassword,
            newPassword: newPassword,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.status === "success") {
              Swal.fire({
                title: "Password Changed",
                text: "Your password has been successfully changed",
                icon: "success",
                timer: 4000,
              }).then(() => {
                location.reload();
              });
            } else {
              Swal.fire({
                title: "Error",
                text: "Failed to change password. Please try again",
                icon: "error",
              });
            }
          })
          .catch((error) => {
            Swal.fire({
              title: "Error",
              text: "Failed to change password. Please try again",
              icon: "error",
            });
          });
      },
    });
  }
</script>
<%- include('includes/footerpartial') -%>
