<%- include('includes/header') -%>
<%- include('includes/user-header') -%> 

<section>
  
    <main class="main">
      <div class="intro-slider-container mb-5">
        <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light"
             data-toggle="owl"
             data-owl-options='{
               "dots": true,
               "nav": false,
               "responsive": {
                 "1200": {
                   "nav": true,
                   "dots": false
                 }
               }
             }'>
      
          <% banners.forEach(function(banner) { %>
            <div class="intro-slide" style="background-image: url('<%= banner.image%>');">
              <div class="container intro-content">
                <div class="row justify-content-end">
                  <div class="col-auto col-sm-7 col-md-6 col-lg-5"></div>
                  <!-- End .col-lg-11 offset-lg-1 -->
                </div>
                <!-- End .row -->
              </div>
              <!-- End .intro-content -->
            </div>
            <!-- End .intro-slide -->
          <% }); %>
      
        </div>
        <!-- End .intro-slider owl-carousel owl-simple -->
      
        <span class="slider-loader"></span><!-- End .slider-loader -->
      </div>
      <!-- End .intro-slider-container -->
      
      <div class="mb-4"></div>
      <!-- End .mb-4 -->
  
      <div class="mb-3"></div>
      <!-- End .mb-5 -->
  
      <div class="container new-arrivals">
        <div class="heading heading-flex mb-3">
          <div class="heading-left">
            <h2 class="title">New Arrivals</h2>
            <!-- End .title -->
          </div>
          <!-- End .heading-left -->
  
          <div class="heading-right">
            <ul
              class="nav nav-pills nav-border-anim justify-content-center"
              role="tablist"
            >
              
          </div>
          <!-- End .heading-right -->
        </div>
        <!-- End .heading -->
       
        <div class="tab-content tab-content-carousel just-action-icons-sm">
          <div
            class="tab-pane p-0 fade show active"
            id="new-all-tab"
            role="tabpanel"
            aria-labelledby="new-all-link"
          >
            <div
              class="owl-carousel owl-full carousel-equal-height carousel-with-shadow"
              data-toggle="owl"
              data-owl-options='{
                "nav": true, 
                "dots": true,
                "margin": 20,
                "loop": false,
                "responsive": {
                  "0": {
                    "items":2
                  },
                  "480": {
                    "items":2
                  },
                  "768": {
                    "items":3
                  },
                  "992": {
                    "items":4
                  },
                  "1200": {
                    "items":5
                  }
                }
              }'
            >
              <% products.forEach(function (product) { %>
                <div class="product product-2 ">
                  <figure class="product-media ">
                    <!-- <span class="product-label label-circle label-top">Top</span> -->
                    <a href="/product-view/<%=product?.slug%>">
                      <img
                        src="<%= product.productImage[0] %>"
                        alt="Product image"
                        class="product-image"
                      />
                    </a>
        
                    <div class="product-action-vertical">
                      <a
                        href="#"
                        class="btn-product-icon btn-wishlist"
                        title="Add to wishlist"
                        onclick="AddToWishList('<%=product._id%>','<%=user?._id%>');event.preventDefault();"
                      ></a>
                    </div>
                    <!-- End .product-action -->
        
                    <!-- <div class="product-action">
                      <a href="#" class="btn-product btn-cart" title="Add to cart"
                        ><span>add to cart</span></a
                      >
                      
                    </div> -->
                    <!-- End .product-action -->
                  </figure>
                  <!-- End .product-media -->
        
                  <div class="product-body">
                    <div class="product-cat text-center ">
                      
                      
                    </div>
                    <!-- End .product-cat -->
                    <h3 class="product-title text-center"><%= product.productModel%></h3>
                    <p class="widget-list text-center">
                      <a href="/product-view/<%=product?.slug%>"><%= product.productName.slice(0,35) %>...</a>
                    </p>
                    <!-- End .product-title -->
                    <div class="product-price"></div>
                    <!-- End .product-price -->
                    <div class="ratings-container">
                      <div class="">
                        <div class="" style="width: 100%"></div>
                        <!-- End .ratings-val -->
                      </div>
                      <!-- End .ratings -->
                      <div class="product-action">
                       
                        <a class="btn-product product-action text-center  bg-primary;"  href="/productsList?category=<%=product.category._id%>"><%=product.category.CategoryName %></a>
                          
                        
                      </div>
                     
                      <span class="text"><%=product.reviews%></span>
                    </div>
                    <!-- End .rating-container -->
                  </div>
                </div>
              <% }) %>
            </div>
          </div>
        </div>
        
        
      <!-- End .icon-boxes-container -->
    </main>
    <!-- End .main -->
  
    <footer class="footer">
      <div
        class="cta bg-image bg-dark pt-4 pb-5 mb-0"
        style="background-image: url(assets/images/demos/demo-4/bg-5.jpg)"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-sm-10 col-md-8 col-lg-6">
              <div class="cta-heading text-center">
                <h3 class="cta-title text-white">Get The Latest Deals</h3>
                <!-- End .cta-title -->
                <p class="cta-desc text-white">
                  and receive
                  <span class="font-weight-normal">30% off</span> for first
                  shopping
                </p>
                <!-- End .cta-desc -->
              </div>
              <!-- End .text-center -->
  
              <form>
                <div class="input-group input-group-round">
                  <input
                    type="email"
                    class="form-control form-control-white"
                    placeholder="Enter your Email Address"
                    aria-label="Email Adress"
                    required
                  />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" onclick="handleSubscription(event)">
                      <span>Subscribe</span>
                      <i class="icon-long-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <!-- End .col-sm-10 col-md-8 col-lg-6 -->
          </div>
          <!-- End .row -->
        </div>
        <!-- End .container -->
      </div>
      <!-- End .cta -->
      <div class="footer-middle">
            <div class="container">
              <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3">
                  <div class="widget widget-about"></div>
                  <!-- End .widget about-widget -->
                </div>
                <!-- End .col-sm-6 col-md-4 col-lg-3 -->
            
                <div class=" col-sm-6 col-md-3 col-lg-3">
                  <div class="widget">
                    <h4 class="widget-title">Useful Links</h4>
                    <!-- End .widget-title -->
            
                    <ul class="widget-list">
                      <li><a href="/login">Sign In</a></li>
                      <li><a href="/cart">View Cart</a></li>
                      <li><a href="/wishlist">My Wishlist</a></li>
                      <li><a href="/orders">Track My Order</a></li>
                    </ul>
                    <!-- End .widget-list -->
                  </div>
                  <!-- End .widget -->
                </div>
                <!-- End .col-sm-6 col-md-4 col-lg-3 -->
            
                <div class=" col-sm-6 col-md-3 col-lg-3">
                  <div class="widget">
                    <h4 class="widget-title">Customer Service</h4>
                    <!-- End .widget-title -->
            
                    <ul class="widget-list">
                      <li><a href="/login">Sign In</a></li>
                      <li><a href="/cart">View Cart</a></li>
                      <li><a href="/wishlist">My Wishlist</a></li>
                      <li><a href="/orders">Track My Order</a></li>
                    </ul>
                    <!-- End .widget-list -->
                  </div>
                  <!-- End .widget -->
                </div>
                <!-- End .col-sm-6 col-md-4 col-lg-3 -->
            
                <div class="col-sm-6 col-md-3 col-lg-3">
                  <div class="widget">
                    <h4 class="widget-title">My Account</h4>
                    <!-- End .widget-title -->
            
                    <ul class="widget-list">
                      <li><a href="/login">Sign In</a></li>
                      <li><a href="/cart">View Cart</a></li>
                      <li><a href="/wishlist">My Wishlist</a></li>
                      <li><a href="/orders">Track My Order</a></li>
                    </ul>
                    <!-- End .widget-list -->
                  </div>
                  <!-- End .widget -->
                </div>
                <!-- End .col-sm-6 col-md-4 col-lg-3 -->
              </div>
              <!-- End .row -->
            </div>
            <!-- End .container -->
            
          </div>
          <!-- End .row -->
        </div>
        <!-- End .container -->
      </div>
      <!-- End .footer-middle -->
  
      <div class="footer-bottom">
        <div class="container">
          <p class="footer-copyright">
            Copyright © 2023 e shopee. All Rights Reserved.
          </p>
          <!-- End .footer-copyright -->
          <figure class="footer-payments">
            <img
              src="assets/images/payments.png"
              alt="Payment methods"
              width="272"
              height="20"
            />
          </figure>
          <!-- End .footer-payments -->
        </div>
        <!-- End .container -->
      </div>
      <!-- End .footer-bottom -->
    </footer>
  
    <!-- End .modal -->
  </div>
  <!-- <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button> -->
  <!-- Mobile Menu -->
  <div class="mobile-menu-overlay"></div>
  <!-- End .mobil-menu-overlay -->
  
  <div class="mobile-menu-container mobile-menu-light">
    <div class="mobile-menu-wrapper">
      <span class="mobile-menu-close"><i class="icon-close"></i></span>
      <form class="mobile-search" action="/product-search/?search"  method="get" onsubmit="return validateForm()">

        <label for="mobile-search" class="sr-only">Search</label>
        <input
          type="search"
          class="form-control"
          name="mobile-search"
          id="mobile-search"
          placeholder="Search in..."
          required
        />
        <button class="btn btn-primary" type="submit">
          <i class="icon-search"></i>
        </button>
      </form>
  
      <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="mobile-menu-link"
            data-toggle="tab"
            href="#mobile-menu-tab"
            role="tab"
            aria-controls="mobile-menu-tab"
            aria-selected="true"
            >Menu</a
          >
        </li>
      </ul>
  
      <div class="tab-content">
        <div
          class="tab-pane fade show active"
          id="mobile-menu-tab"
          role="tabpanel"
          aria-labelledby="mobile-menu-link"
        >
          <nav class="mobile-nav">
            <ul class="mobile-menu">
              <li class="active">
                <a href="/">Home</a>
              </li>
              <li class="active">
                <li class="active">
                  <% if(user){%>
                    <a href="/logout" class="btn  dark-2 mx-3"> <button type="button" class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;">LogOut</button></a>
                  <% } else { %>
                  <a href="/signup" class="btn  dark-2 mx-3"> <button type="button" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">LogIn</button></a>
                   <%}%>            </li>
              </li>
            </ul>
          </nav>
          
          <!-- End .mobile-nav -->
        </div>
        <!-- .End .tab-pane -->
  
      <div class="social-icons">
        <a href="#" class="social-icon" target="_blank" title="Facebook"
          ><i class="icon-facebook-f"></i
        ></a>
        <a href="#" class="social-icon" target="_blank" title="Twitter"
          ><i class="icon-twitter"></i
        ></a>
        <a href="#" class="social-icon" target="_blank" title="Instagram"
          ><i class="icon-instagram"></i
        ></a>
        <a href="#" class="social-icon" target="_blank" title="Youtube"
          ><i class="icon-youtube"></i
        ></a>
      </div>
      <!-- End .social-icons -->
    </div>
    <!-- End .mobile-menu-wrapper -->
  </div>
  <!-- End .mobile-menu-container -->
  
  
  </section>
  
<%- include('includes/footer') -%>
