<%- include('includes/header') -%> <%- include('includes/user-header') -%>
<main class="main">
  <div
    class="page-header text-center"
    style="background-image: url('assets/images/page-header-bg.jpg')"
  >
    <div class="container">
      <h1 class="page-title">
        <%=products[0]?.category.CategoryName%><span>Shop</span>
      </h1>
    </div>
    <!-- End .container -->
  </div>
  <!-- End .page-header -->
  <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
      </ol>
    </div>
    <!-- End .container -->
  </nav>
  <!-- End .breadcrumb-nav -->

  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="toolbox">
            <div class="toolbox-left">
              <div class="toolbox-info">Showing <span></span> Products</div>
              <!-- End .toolbox-info -->
            </div>
            <!-- End .toolbox-left -->

            <div class="toolbox-right">
              <div class="toolbox-sort">
                <label for="sortby">Sort by:</label>
                <div class="select-custom">
                  <select
                    name="sortby"
                    id="sortby"
                    class="form-control"
                    class="form-select"
                    onchange="handleChange(event)"
                  >
                    <option value="new">Latest</option>

                    <option value="price-asc">Price Low to High</option>
                    <option value="price-desc">Price High to Low</option>
                  </select>
                </div>
              </div>
              <!-- End .toolbox-sort -->
            </div>

            <!-- End .toolbox-right -->
          </div>
          <!-- End .toolbox -->
          <%if (products.length<=0) {%>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="jumbotron">
                  <h1 class="display-4">No search results found</h1>
                  <hr class="my-4" />
                  <p class="lead">
                    Unfortunately, your search did not return any results.
                    Please try again with a different keyword.
                  </p>
                  <a class="btn btn-primary btn-lg" href="#" role="button"
                    >Back to home</a
                  >
                </div>
              </div>
            </div>
          </div>

          <% }%> <% products.forEach(function (product,index){ %>

          <div class="product-card" data-price="<%= product.productPrice %>">
            <div class="product product-list">
              <div class="row">
                <div class="col-6 col-lg-3">
                  <figure class="product-media">
                    <a href="/product-view/<%=product?.slug%>">
                      <img
                        src="<%= product?.productImage[0] %>"
                        alt="Product image"
                        class="product-image"
                      />
                    </a>
                  </figure>
                  <!-- End .product-media -->
                </div>
                <!-- End .col-sm-6 col-lg-3 -->

                <div class="col-6 col-lg-3 order-lg-last">
                  <div class="product-list-action">
                    <div class="product-price">
                      &#8377;<%= product?.productPrice%>
                    </div>

                    <!-- End .product-action -->
                    <% if (product?.isInCart) { %>
                    <a href="/cart" class="btn-product btn-cart" id="cart"
                      ><span>view cart</span></a
                    >

                    <% }else{ %>
                    <a
                      href="#"
                      class="btn-product btn-cart"
                      id="cart"
                      onclick="addToCart('<%=product?._id %>', '<%=user?._id %>'); return false;"
                      ><span>add to cart</span></a
                    >
                    <%}%>
                  </div>
                  <!-- End .product-list-action -->
                </div>
                <!-- End .col-sm-6 col-lg-3 -->

                <div class="col-lg-6">
                  <div class="product-body product-action-inner">
                    <a
                      href="#"
                      class="btn-product btn-wishlist"
                      title="Add to wishlist"
                      onclick="AddToWishList('<%=product._id%>','<%=user?._id%>');event.preventDefault();"
                      ><span>add to wishlist</span></a
                    >
                    <div class="product-cat">
                      <a href="#"><%= product?.category?.CategoryName %></a>
                    </div>
                    <!-- End .product-cat -->
                    <h3 class="product-title">
                      <a href="/product-view/<%=product?.slug%>"
                        ><%= product.productName%></a
                      >
                    </h3>
                    <!-- End .product-title -->

                    <div class="product-content">
                      <p><%= product.productDescription.slice(0,100)%>...</p>
                    </div>
                    <!-- End .product-content -->

                    <div class="product-nav product-nav-thumbs">
                      <a href="#" class="active">
                        <img
                          src="<%= product?.productImage[0] %>"
                          alt="product desc"
                        />
                      </a>
                      <!-- <a href="#">
                        <img
                          src="<%#= product.productImage[1] %>"
                          alt="product desc"
                        />
                      </a> -->

                      <!-- <a href="#">
                        <img
                          src="<%#= product.productImage[2] %>"
                          alt="product desc"
                        /> -->
                      <!-- </a> -->
                    </div>
                    <!-- End .product-nav -->
                  </div>
                  <!-- End .product-body -->
                </div>
                <!-- End .col-lg-6 -->
              </div>
              <!-- End .row -->
            </div>
            <!-- End .product -->
          </div>
          <!-- End .products -->
          <%})%>
        </div>
        <!-- End .col-lg-9 -->
        <aside class="col-lg-3 order-lg-first">
          <div class="sidebar sidebar-shop">
            <div class="widget widget-clean">
              <label>Filters:</label>
              <a href="#" class="sidebar-filter-clear">Clean All</a>
            </div>
            <!-- End .widget widget-clean -->

            <!-- End .widget -->

            <!-- End .widget -->

            <div class="widget widget-collapsible">
              <h3 class="widget-title">
                <a
                  data-toggle="collapse"
                  href="#widget-5"
                  role="button"
                  aria-expanded="true"
                  aria-controls="widget-5"
                >
                  Price
                </a>
              </h3>
              <!-- End .widget-title -->

              <div class="collapse show" id="widget-5">
                <div class="widget-body">
                  <div class="filter-price">
                    <div class="filter-price-text">
                      Price Range:
                      <span id="filter-price-range"></span>
                    </div>
                    <!-- End .filter-price-text -->

                    <div id="price-slider"></div>
                    <!-- End #price-slider -->
                  </div>
                  <!-- End .filter-price -->
                </div>
                <!-- End .widget-body -->
              </div>
              <!-- End .collapse -->
            </div>
            <!-- End .widget -->
          </div>
          <!-- End .sidebar sidebar-shop -->
        </aside>
        <!-- End .col-lg-3 -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .page-content -->
</main>
<!-- End .main -->
<%- include('includes/footer') -%>

<script src="assets/js/nouislider.min.js"></script>
<script>
  const CategoryId = "<%= products[0]?.category._id %>";

  function handleChange(event) {
    const selectedOption = event.target.value;
    console.log(selectedOption);
    window.location.href = `/productsList?category=${CategoryId}&sort=${selectedOption}`;
  }

  const priceSlider = document.querySelector("#price-slider");
  const priceRange = document.querySelector("#filter-price-range");

  noUiSlider.create(priceSlider, {
    start: [0, 50000], // Set initial range values
    connect: true, // Display a colored bar between the handles
    range: {
      // Set minimum and maximum values for the slider
      min: 0,
      max: 50000,
    },
  });
  // Update the price range text when the slider is moved
  priceSlider.noUiSlider.on("update", function (values, handle) {
    priceRange.textContent = values.join(" - ");
    // Call a function to update the product list based on the new price range
    updateProducts(values[0], values[1]);
  });

  function updateProducts(minPrice, maxPrice) {
    // Get all product cards on the page
    const productCards = document.querySelectorAll(".product-card");
    console.log(productCards);
    // Loop through all product cards and hide those that do not fall within the specified price range
    productCards.forEach((card) => {
      const price = parseInt(card.dataset.price);
      if (parseInt(price) < minPrice || parseInt(price) > maxPrice) {
        card.style.display = "none";
      } else {
        card.style.display = "block";
      }
    });
  }
 

  function addToCart(productId, userId) {
    if (userId) {
      $.get(`/add-to-cart/${productId}`)
        .done(function (response) {
          if (response.status) {
            Swal.fire({
              title: "Product added to cart!",
              icon: "success",
              confirmButtonText: "OK",
            }).then((result) => {
              if (result.isConfirmed) {
                location.reload();
              }
            });
            return;
          }
          Swal.fire({
            title: "Out of stock!",
            icon: "success",
            confirmButtonText: "OK",
          });
        })
        .fail(function (error) {
          console.log(error);
        });
    } else {
      // User is not logged in, redirect to login page
      window.location.href = "/login";
      return;
    }
  }
</script>
<%- include('includes/footerpartial') -%>
