<%- include('includes/header') -%> <%- include('includes/user-header') -%>

<section>
  <main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Enter OTP</li>
        </ol>
      </div>
    </nav>

    <div
      class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
      style="background-image: url('assets/images/backgrounds/bg_mesh.jpg')"
    >
      <div class="container">
        <div class="form-box">
          <div class="form-tab">
            <ul class="nav nav-pills nav-fill" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="signin-tab-2"
                  data-toggle="tab"
                  href="/login"
                  role="tab"
                  aria-controls="signin-2"
                  aria-selected="true"
                >
                  Enter OTP
                </a>
              </li>
            </ul>

            <div
              class="tab-pane fade show active"
              id="signin-2"
              role="tabpanel"
              aria-labelledby="signin-tab-2"
            >
              <form action="/verify-mob" method="post">
                <div class="form-group">
                  <label for="loginotp">Enter OTP</label>

                  <input
                    type="tel"
                    class="form-control"
                    id="loginotp"
                    name="code"
                    required
                  />
                  <input
                    type="hidden"
                    name="mobNumber"
                    value="<%= mobNumber %>"
                  />
                </div>
                <div id="countdown-timer" style="display: inline">
                  Time Left: 1:00
                </div>

                <div class="float-right">
                  <label
                    class="text-end"
                    for="register-policy-2"
                    style="font-size: smaller"
                  >
                    <a
                      id="resendOTP"
                      class="resend-link"
                      style="display: none"
                      onclick="resendOTP() "
                      >Resend OTP</a
                    >
                  </label>
                </div>
                <div class="form-footer">
                  <button type="submit" class="btn btn-outline-primary-2">
                    <span>Verify OTP</span>
                  </button>
                </div>
                <% if (loginErr) {%>
                <p class="text-center" style="color: rgb(180, 17, 17)">
                  Please Enter Valid OTP
                </p>
                <%}%>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
;
<script>
  // Set the time limit for the OTP verification (in seconds)
  const timeLimit = 60;

  // Get the countdown timer element
  const countdownTimer = document.getElementById("countdown-timer");
  const resendLink = document.getElementById("resendOTP");

  // Initialize the timer value
  let timerValue = timeLimit;

  // Update the timer value every second
  const countdownInterval = setInterval(() => {
    timerValue--;
    const minutes = Math.floor(timerValue / 60);
    const seconds = timerValue % 60;
    countdownTimer.innerHTML = `Time Left: ${minutes}:${seconds
      .toString()
      .padStart(2, "0")}`;

    // If the timer reaches zero, clear the interval and disable the form
    if (timerValue === 0) {
      clearInterval(countdownInterval);
      resendLink.style.display = "inline";
      document.querySelector('button[type="submit"]').disabled = true;
      countdownTimer.style.display = "none";
      Swal.fire({
        title: "Time's up!",
        icon: "warning",
        timer: 3000,
      });
    }
  }, 1000);

  function resendOTP() {
    let confirmation = confirm("do you want to resend");
    if (confirmation === true) {
      $.ajax({
        url: "/resendOTP",
        data: { mobNumber: "<%= mobNumber %>" },
        method: "get",
        success: function (response) {
          if (response.status === "success") {
            Swal.fire({
              title: "OTP Resent!",
              icon: "success",
              timer: 4000,
            });
          } else {
            Swal.fire({
              title: "OTP resend failed!",
              text: response.message,
              icon: "error",
              timer: 4000,
            });
          }
        },
        error: function (error) {
          console.log(error);
          Swal.fire({
            title: "Error occurred!",
            text: error.message,
            icon: "error",
            timer: 2000,
          });
        },
      });
    }
  }
</script>

<%- include('includes/footerpartial') -%>
